* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $default-font;
    font-size: 1rem;
    .container {
        max-width: 1400px;
        margin: 0 auto;
        line-height: 2;
    }
}